* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.buttons {
    display: flex;
}

.sidebar {
    outline: 1px solid blue;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;
}

.sketch {
    outline: 1px solid red;
    min-width: 900px;
    height: 600px;
}